#combo {
    margin-top: 3rem;
}

.combo_slides {
    text-align: center;
    overflow: hidden;
    // max-height: 305.333px;

    @include devices(md) {
        width: 16rem;
    }
}

.combo_swiper {
    @include padding-y(3rem !important, 5rem !important);
}

.combo_img {
    @include margin-y(2rem, 2rem);
    overflow: hidden;
    max-height: 305.333px;

    img {
        // @include img-fit;
        min-width: 255.333px;
        max-width: 255.333px;
        min-height: 305.333px;
        max-height: 305.333px;
    }
}